In [1]:
#VacationPy

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

In [3]:
weather_df = pd.read_csv("../WeatherPy/output/weather_dataframe.csv")
weather_df.head()

,City,Country,Latitude,Longitude,MaxTemp,Humidity,Clouds,WindSpeed,Date
0,Bela,IN,25.93,81.98,27.82,83,100,1.91,1596065692
1,Santa Maria,BR,-29.68,-53.81,7.00,75,0,2.10,1596065692
2,Rikitea,PF,-23.12,-134.97,22.94,84,74,6.56,1596065466
3,Laas,IT,46.62,10.70,16.00,93,40,1.50,1596065692
4,Khudumelapye,BW,-23.88,24.75,8.76,53,0,1.68,1596065693

In [19]:
locations = weather_df[["Latitude", "Longitude"]]
humidity = weather_df["Humidity"].astype(float)
fig = gmaps.figure(map_type="HYBRID", zoom_level =1, center=[0,0], layout={'width': '550px', 'height': '350px'},display_toolbar=False )
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='350px', width='550px'))

In [ ]:
#My Weather conditions
#Max Temp between 25 and 35
#Humidity below 50%
#Cloudiness below 15%
#Wind Speed under 3 km/h

In [80]:
idealWeather_df = weather_df.loc[(weather_df['MaxTemp'] >= 25) & (weather_df['MaxTemp'] <= 35) & (weather_df['Humidity'] <= 50) & (weather_df['Clouds'] <= 15) & (weather_df['WindSpeed'] <= 3)]
idealWeather_df.dropna()
idealWeather_df

,City,Country,Latitude,Longitude,MaxTemp,Humidity,Clouds,WindSpeed,Date
52,Kāzerūn,IR,29.62,51.65,32.22,16,2,2.97,1596065706
84,Corinth,GR,37.94,22.96,27.22,34,0,0.89,1596065714
177,Goundam,ML,16.41,-3.67,33.20,41,10,1.85,1596065738
276,Abu Samrah,SY,35.30,37.18,26.00,32,0,2.18,1596065763
311,Black Diamond,US,47.31,-122.00,30.56,43,0,2.56,1596065774
364,Ouro Preto do Oeste,BR,-10.75,-62.22,26.71,40,10,1.18,1596065787
472,Termez,UZ,37.22,67.28,25.00,27,0,2.10,1596065817
521,Marathon,US,44.90,-89.77,26.00,41,1,2.10,1596065831
537,Berezovyy,RU,51.67,135.70,31.50,45,1,1.61,1596065835
579,Presidente Médici,BR,-11.18,-61.90,26.79,40,10,1.80,1596065846

In [84]:
hotel_df = pd.DataFrame([idealWeather_df.City, idealWeather_df.Country, idealWeather_df.Latitude, idealWeather_df.Longitude]).transpose()
hotel_df['HotelName'] = ""

In [85]:
hotel_df

                    City Country Latitude Longitude HotelName
52               Kāzerūn      IR    29.62     51.65
84               Corinth      GR    37.94     22.96
177              Goundam      ML    16.41     -3.67
276           Abu Samrah      SY     35.3     37.18
311        Black Diamond      US    47.31      -122
364  Ouro Preto do Oeste      BR   -10.75    -62.22
472               Termez      UZ    37.22     67.28
521             Marathon      US     44.9    -89.77
537            Berezovyy      RU    51.67     135.7
579    Presidente Médici      BR   -11.18     -61.9

In [86]:
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "hotel",
    "key": g_key
}

for index, row in idealWeather_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]

    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    name_address = requests.get(base_url, params=params)

    name_address = name_address.json()

    try:
        hotel_df.loc[index, "HotelName"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=hotel&key=AIzaSyCL310zAh-kgzK3L_LcGg8qpq6aJxugh74&location=29.62%2C51.65
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=hotel&key=AIzaSyCL310zAh-kgzK3L_LcGg8qpq6aJxugh74&location=37.94%2C22.96
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=hotel&key=AIzaSyCL310zAh-kgzK3L_LcGg8qpq6aJxugh74&location=16.41%2C-3.67
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=hotel&key=AIzaSyCL310zAh-kgzK3L_LcGg8qpq6aJxugh74&location=35.3%2C37.18
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=hotel&key=AIzaSyCL310zAh-kgzK3L_LcGg8qpq6aJxugh74&location=47.31%2C-122.0
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=hotel&key=AIzaSyCL310zAh-kgzK3L_LcGg8qpq6aJxugh74&location=-10.75%2C-62.22
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=hotel&key=AIzaSyCL310zAh-kgzK3L_LcGg8qpq6aJxugh74&location=37.22%2C67.28
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=hotel&key=AIzaSyCL310zAh-kgzK3L_LcGg8qpq6aJxugh74&location=44.9%2C-89.77
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=hotel&key=AIzaSyCL310zAh-kgzK3L_LcGg8qpq6aJxugh74&location=51.67%2C135.7
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=lodging&keyword=hotel&key=AIzaSyCL310zAh-kgzK3L_LcGg8qpq6aJxugh74&location=-11.18%2C-61.9

In [87]:
hotel_df

,City,Country,Latitude,Longitude,HotelName
52,Kāzerūn,IR,29.62,51.65,Bishapour Hotel
84,Corinth,GR,37.94,22.96,Hotel King Saron Ξενοδοχείο
177,Goundam,ML,16.41,-3.67,
276,Abu Samrah,SY,35.3,37.18,
311,Black Diamond,US,47.31,-122,
364,Ouro Preto do Oeste,BR,-10.75,-62.22,Dominique Hotel
472,Termez,UZ,37.22,67.28,Guesthouse FIRDAVS
521,Marathon,US,44.9,-89.77,
537,Berezovyy,RU,51.67,135.7,"Hotel ""Phoenix"""
579,Presidente Médici,BR,-11.18,-61.9,Oliveira Palace Hotel

In [108]:
hotelslocations = hotel_df[["Latitude", "Longitude"]]
hotel_layer = gmaps.symbol_layer(
    hotelslocations, fill_color='rgba(0, 150, 0, 0.8)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[info_box_template for index, row in hotel_df.iterrows()]
)

fig = gmaps.figure()
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [114]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{HotelName}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [115]:
fig = gmaps.figure(zoom_level =1, center=[0,0], layout={'width': '550px', 'height': '350px'},display_toolbar=False )

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='350px', width='550px'))